body{
    margin: 0;
}
#welcome-section{
    height: 100vh;
    text-align: center;
	display: flex;
    align-items: center;
    justify-content: center;
}
.jumbotron{
    height: 70%;
    width: 80%;
    padding-top: 15rem !important;
}
#profile-link_container{
    height: 80vh;
}

#work-text{
    height: 80%;
    text-align: center;
    padding-top: 15rem;
}
#contact{
    height: 20%;
    padding-top: 3rem;
}