body{
    margin: 0;
}
#welcome-section{
    height: 100vh;
    text-align: center;
	display: flex;
    align-items: center;
    justify-content: center;
}
.jumbotron{
    height: 70%;
    width: 80%;
    padding-top: 15rem !important;
}
#profile-link_container{
    height: 80vh;
}

#work-text{
    height: 80%;
    text-align: center;
    padding-top: 10rem;
}
#contact{
    height: 20%;
    padding-top: 2rem;
}

#project-tile{
	padding: 2rem;
	text-align: center;
}
.social-media a {
	padding-right: 1.5rem;
	color: #000;
	text-decoration: none !important;
}
.social-media i {
	padding-right: 1rem;
	color: #007bff;
}
